<div class=" mat-elevation-z8 p-6">
    
    <h1 class="text-3xl mb-6">Detalhes do Produto</h1>
    
    
    <mat-form-field class="example-full-width w-full">
        <mat-label>Nome</mat-label>
        <input type="text" matInput disabled value="{{product?.name}}">
    </mat-form-field>
    
    <mat-form-field class="example-full-width w-full">
        <mat-label>Descrição</mat-label>
        <input type="text" matInput disabled value="{{product?.description}}">
    </mat-form-field>

    <mat-form-field class="example-full-width w-full">
        <mat-label>Preço</mat-label>
        <input type="number" matInput disabled value="{{product?.price}}">
    </mat-form-field>

</div>