<div class="mat-elevation-z8">
  
  <div class="flex justify-between">
    <div class="p-8">
      <mat-form-field class="example-full-width">
        <mat-label>Procurar</mat-label>
        <input matInput [(ngModel)]="filter" (ngModelChange)="this.filterUpdate.next($event)">
      </mat-form-field>
    </div>
    <div class=" p-8">
      <button routerLink="/create-employee" routerLink="product-create" mat-raised-button color="primary">
        Criar Produto
      </button>
    </div>
  </div>
  
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"><a href="/product-details/{{row.id}}">{{row.id}}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Name Description -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <!-- Name Price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
      <td mat-cell *matCellDef="let row">R$ {{row.price}}</td>
    </ng-container>

    createdDate

    <!-- Name Created Date -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Criação</th>
      <td mat-cell *matCellDef="let row">{{row.createdDate | date:'fullDate' }}</td>
    </ng-container>

    <!-- Name Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" (click)="delete(row.id)"> Deletar </button>
        <button mat-raised-button class="ml-2" color="primary" (click)="edit(row.id)"> Editar </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="length"
              (page)="handlePageEvent($event)"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page">
</mat-paginator>

  <!-- <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator> -->
</div>
