<div class=" mat-elevation-z8 p-6">
    @if (isEdit) {
        <h1 class="text-3xl mb-6">Editar Produto</h1>
    }@else {
        <h1 class="text-3xl mb-6">Criar Produto</h1>
    }
    <form [formGroup]="productForm" (ngSubmit)="Save()">
        <mat-form-field class="example-full-width w-full">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        
        <mat-form-field class="example-full-width w-full">
            <mat-label>Descrição</mat-label>
            <input type="text" matInput formControlName="description">
        </mat-form-field>

        <mat-form-field class="example-full-width w-full">
            <mat-label>Preço</mat-label>
            <input type="number" matInput placeholder="Ex. 2000" formControlName="price">
        </mat-form-field>

        <div class="w-full">
            <button mat-raised-button color="primary" [disabled]="!productForm.valid" > Salvar </button>
        </div>
    </form>

</div>
