﻿<mat-toolbar role="heading" color="primary">
    <button mat-icon-button class="mr-4" routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <span>Lista de Produtos</span>
    
</mat-toolbar>
<div class="w-full px-36 py-8">
    <router-outlet></router-outlet>
</div>