﻿:host {
    max-width: 1280px;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}


.app-container{
    /* margin-left: 40px;
    margin-right: 40px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

